.card {
  display: flex;
  width: 50%;
  max-width: 800px;
  height: 60%;
  border: 5px thick;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 25%;
  background-color: #96edf399;
  border-radius: 5%;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
}
.search-bar {
  border: 2px solid;
  outline: none;
  padding: 0.2em 0.5em;
  border-radius: 24px;
  background-color: #467bee62;
  color: white;
  font-family: inherit;
  font-size: 3vw;
  width: calc(100% - 100px);
}
.search {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report {
  font-size: 4vw;
  width: 100%;
  border: 0;
  padding: 0;
  margin-bottom: 3%;
  margin-top: 3%;
  height: auto;
}
.city {
  font-size: 2vw;
  width: 100%;
  height: min-content;
  margin: 0;
}
.temp {
  font-size: 4vw;
  margin-bottom: 3%;
  margin-top: 3%;
  width: 100%;
  font: bolder;
  color: crimson;
}
.ressenti {
  font-size: 2vw;
  width: 100%;
  margin: 0;
}
.description {
  font-size: 2vw;
  width: 100%;
  text-transform: capitalize;
}

body {
  margin: 0;
  background-image: url("Weather.jpg");
  background-size: 100%;
}

.background {
  background-color: black;
  position: absolute;
  opacity: 50%;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.search_button {
  display: inline-block;
  background-color: #467bee62;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
.search_button:hover {
  color: #ffffff;
  background-color: #1629d86b;
}
